DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=defaultdb
DB_PORT=25060

LIVEKIT_SERVER_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
LIVEKIT_SIP_ENDPOINT=

PLIVO_AUTH_ID=
PLIVO_AUTH_TOKEN=
PLIVO_ZENTRUNK_APP_ID=12349622293949689

ORGANIZATIONS_API_KEY_COLUMN=api_key

APP_DEBUG=false
